body {
    margin: 00px auto;
    width: 70%;
    
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    /*background-color: black;*/
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

.container {
  width: 50%; /* 1170px on your site, 50% is for this example */
  padding: 0 50px;
  margin: 0 auto;
}

.bg-wraf {
  background: #000000;
  padding: 10px 0; /* For clarity */
  margin: 0px  
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
