<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<div class="entete">
				
				<div.a class="container"; style="font-size:20px"; color="white";> 
	        		<li><a href="/">Acceuil</a></li>
		        	<li><a href="/nos_services">Nos services</a></li>
	        		<li><a href="/contact">Contact</a></li>
				</div.a>
				
				</div>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<!--<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>FF-->
		</body>
	</html>
